.wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(deepskyblue, lightseagreen);
    font-family: 'Nunito', sans-serif;
}

/*
gradient text solution from https://codepen.io/leocampos/pen/pPwwNR

first try: background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
 */
.grad-text {
    text-transform: uppercase;
    background: linear-gradient(to right, seashell 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Righteous', cursive;
}

.grad-text-2 {
    background: linear-gradient(to right, darkgreen 0%, darkblue 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Righteous', cursive;
}

#grad {
    background-image: linear-gradient(#177082, blueviolet);
}

.top-header {
    font-size: 72pt;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.lowest {
    position: center;
    top: 100%;
}

.more-lowest {
    position: center;
    top: 130%;
}

.horiz-centered {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    height: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

body {
    font-family: Futura, sans-serif;

}

.sidebar {
    margin: 50px 50px 50px 50px;
    width: 200px;
    position: relative;
    color: white;


}

.input-field {
    margin: 20px 40px 20px 40px;
    outline: none;
    font-family: Futura, sans-serif;
    border: none;
    border-radius: 20px;
    background-color: #239ab2;
    color: #fffcf4;
    height: 20px;
    width: 325px;
    padding: 5px 15px;

}

.dropdown {
    background-color: #fffcf4;
    position: absolute;
    margin-left: 40px;
    width: 325px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 15px;
}

.dropdown li {
    color: black;
}

.suggestions li {
    margin: 0;
    padding: 0;
    font-size: 8pt;

}

.suggestions {
    width: 100%;
    color: black;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.input-field-selected {
    margin: 20px 40px 20px 40px;
    outline: none;
    font-family: Futura, sans-serif;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #fffcf4;
    color: black;
    height: 20px;
    width: 325px;
    padding: 5px 15px;

}


.pong-board {
    margin-top: 40px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 850px;
}

#pong-canvas {
    overflow: scroll;
    background-color: black;
}


.pong-board:hover {
    cursor: move;
    cursor: grab;

}

::placeholder {
    color: white;
    font-family: Futura, sans-serif;

    opacity: 1;
}

.find_game {
    background-color: black;
    color: white;
    border: 2px solid white;
}

.find_game:hover {
    background-color: white;
    color: black;
}


#pong-submit {
    font-family: Futura, sans-serif;
    border-radius: 15px;
    margin: 10px 40px;
    color: #fffcf4;
    width: 70px;
    height: 30px;
    font-size: 13pt;
    font-weight: bold;
    background-color: #164751;
    border: none;
    outline: none;

}

#pong-submit:hover {
    cursor: pointer;
    color: #c9c9c9;
    background-color: #113942;
}

.title {
    margin-left: 40px;
}

#statusLeft {
    left: 200px;
}

#statusRight {

    left: 600px;
}

.flex-container {
    display: flex;
}

#leftCountdown {
    color: #fffcf4;
    position: relative;
    text-align: center;
    top: -280px;
    left: 195px;
    z-index: 500;
}

#rightCountdown {
    color: #fffcf4;
    position: relative;
    text-align: center;
    top: -280px;
    left: 590px;
    z-index: 500;
}

#midCountdown {
    color: #fffcf4;
    position: relative;
    text-align: center;
    top: -280px;
    left: 150px;
    z-index: 500;
}

.nameFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexText {
    flex: 0 0 283px;
}

.logEntry {
    display: inline-block;
    font-size: 24px;
    background-color: lightgray;
    border-radius: 8px;
    margin-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
}